Squint/Schemas/SquintSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:include schemaLocation="SquintSchemaTypes.xsd"/>
  <xsd:element name="SquintProtocol">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ProtocolID" type="xs:unsignedByte" />
        <xsd:element name="version" type="xsd:unsignedByte" />
        <xsd:element name="ProtocolMetaData">
          <xsd:complexType>
            <xsd:attribute name="ProtocolName" type="xsd:string" use="required" />
            <xsd:attribute name="ProtocolType" type="ProtocolTypes" use="required" />
            <xsd:attribute name="NumComponents" type="xsd:int" use="required" />
            <xsd:attribute name="ProtocolDate" type="xsd:string" use="required" />
            <xsd:attribute name="Author" type="xsd:string" use="optional"/>
            <xsd:attribute name="ApprovalStatus" type="ApprovalLevels" use="optional" default="Unapproved" />
            <xsd:attribute name="DiseaseSite" type="TreatmentSites" use="required" />
            <xsd:attribute name="TreatmentCentre" type="TreatmentCentres" use="required" />
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TreatmentIntents">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Intent">
                <xsd:complexType>
                  <xsd:attribute name="Id" type="TreatmentIntents" use="required" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Structures">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Structure">
                <xsd:complexType>
                  <xsd:all>
                    <xsd:element minOccurs="0" name="StructureChecklist">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="PointContourCheck">
                            <xsd:complexType>
                              <xsd:attribute name="Threshold" type="xsd:double" use="required" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="EclipseAliases">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="EclipseId">
                            <xsd:complexType>
                              <xsd:attribute name="Id" type="xsd:string" use="required" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:all>
                  <xsd:attribute name="Label" type="xsd:string" use="required" />
                  <xsd:attribute name="ProtocolStructureName" type="xsd:string" use="required" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ProtocolChecklist">
          <xsd:complexType>
            <xsd:all>
              <xsd:element name="Artifacts">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Artifact" minOccurs="0" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:attribute name="HU" type="xsd:double" use="required" />
                        <xsd:attribute name="ToleranceHU" type="xsd:double" use="required" />
                        <xsd:attribute name="ProtocolStructureName" type="xsd:string" use="required" />
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Supports">
                <xsd:complexType>
                  <xsd:attribute name="CouchSurface" type="xsd:double" use="optional" default ="-300"/>
                  <xsd:attribute name="CouchInterior" type="xsd:double" use="optional" default="0"/>
                  <xsd:attribute name="Indication" type="ParameterOptions" use="optional" default="Optional"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Calculation">
                <xsd:complexType>
                  <xsd:attribute name="Algorithm" type="AlgorithmVolumeDoseTypes" use="optional" />
                  <xsd:attribute name="AlgorithmResolution" type="xsd:double" use="optional" />
                  <xsd:attribute name="HeterogeneityOn" type="xsd:boolean" use="optional" />
                  <xsd:attribute name="VMATAirCavityCorrection" type="xsd:string" use="optional" />
                  <xsd:attribute name="IMRTAirCavityCorrection" type="xsd:string" use="optional" />
                  <xsd:attribute name="FieldNormalizationMode" type="FieldNormalizationTypes" use="optional" />
                  <xsd:attribute name="VMATOptimizationAlgorithm" type="AlgorithmVMATOptimizationTypes" use="optional" default="Unset"/>
                  <xsd:attribute name="IMRTOptimizationAlgorithm" type="AlgorithmIMRTOptimizationTypes" use="optional" default="Unset"/>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Simulation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CTDeviceIds">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="CTDeviceId" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:attribute name="Id" type="xsd:string" use="required" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="SliceSpacing" type="PositiveDouble" use="optional" default="NaN" />
                </xsd:complexType>
              </xsd:element>
            </xsd:all>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Components">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Component">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Prescription">
                      <xsd:complexType>
                        <xsd:attribute name="NumFractions" type="xsd:int" use="required" />
                        <xsd:attribute name="ReferenceDose" type="PositiveDouble" use="required" />
                        <xsd:attribute name="PNVMin" type="xsd:double" use="optional" />
                        <xsd:attribute name="PNVMax" type="xsd:double" use="optional" />
                        <xsd:attribute name="PrescribedPercentage" type="xsd:double" use="optional" />
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ImagingProtocols">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ImagingProtocol" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:attribute name="Id" type="ImagingProtocolTypes" use="required" />
                              <xsd:attribute name="ImagingProtocolDisplayName" type="xsd:string" use="optional" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Constituents">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Constituent" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:attribute name="ComponentName" type="xsd:string" use="required" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="Beams">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="Beam">
                            <xsd:complexType>
                              <xsd:all>
                                <xsd:element name="EclipseAliases">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element maxOccurs="unbounded" name="EclipseId">
                                        <xsd:complexType>
                                          <xsd:attribute name="Id" type="xsd:string" use="required" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="BolusDefinitions">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Bolus" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:attribute name="HU" type="PositiveDouble" use="required" />
                                          <xsd:attribute name="Thickness" type="PositiveDouble" use="optional" default="0.5" />
                                          <xsd:attribute name="Indication" type="ParameterOptions" use="required" />
                                          <xsd:attribute name="ToleranceHU" type="PositiveDouble" use="optional" default="NaN" />
                                          <xsd:attribute name="ToleranceThickness" type="PositiveDouble" use="optional" default="NaN"/>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ValidGeometries">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Geometry" maxOccurs="unbounded" minOccurs="0">
                                        <xsd:complexType>
                                          <xsd:attribute name="GeometryName" type="xsd:string" use="required" />
                                          <xsd:attribute name="StartAngle" type="xsd:double" use="required" />
                                          <xsd:attribute name="StartAngleTolerance" type="PositiveDouble" use="optional" default="NaN"/>
                                          <xsd:attribute name="EndAngle" type="xsd:double" use="required" />
                                          <xsd:attribute name="EndAngleTolerance" type="PositiveDouble" use="optional" default="NaN" />
                                          <xsd:attribute name="Trajectory" type="TrajectoryTypes" use="required" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                                <xsd:element name="ValidEnergies">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Energy" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:attribute name="Mode" type="Energies" use="required" />
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:all>
                              <xsd:attribute name="ProtocolBeamName" type="xsd:string" use="required" />
                              <xsd:attribute name="Technique" type="FieldTechniqueType" use="required" />
                              <xsd:attribute name="MinMUWarning" type="PositiveDouble" use="optional" default="NaN" />
                              <xsd:attribute name="MaxMUWarning" type="PositiveDouble" use="optional" default="NaN" />
                              <xsd:attribute name="ToleranceTable" type="xsd:string" use="optional" />
                              <xsd:attribute name="MinColRotation" type="xsd:double" use="optional" default="NaN" />
                              <xsd:attribute name="CouchRotation" type="xsd:double" use="optional" default="NaN"/>
                              <xsd:attribute name="MinX" type="xsd:double" use="optional" default="NaN" />
                              <xsd:attribute name="MaxX" type="xsd:double" use="optional" default="NaN" />
                              <xsd:attribute name="MinY" type="xsd:double" use="optional" default="NaN"  />
                              <xsd:attribute name="MaxY" type="xsd:double" use="optional" default="NaN" />
                              <xsd:attribute name="JawTracking_Indication" type="ParameterOptions" use="optional" default="Optional" />
                              <xsd:attribute name="MaxColRotation" type="xsd:double" use="optional" default="NaN" />
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="MinBeams" type="xsd:int" use="optional" default="-1" />
                        <xsd:attribute name="MinColOffset" type="PositiveDouble" use="optional" default="NaN" />
                        <xsd:attribute name="MaxBeams" type="xsd:int" use="optional" default="-1"/>
                        <xsd:attribute name="NumIso" type="xsd:int" use="optional" default="1"/>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="ComponentName" type="xsd:string" use="required" />
                  <xsd:attribute name="Id" type="xsd:int" />
                  <xsd:attribute name="Type" type="ComponentTypes" use="required" />
                  <xsd:attribute name="NumFractions" type="xsd:int" use="optional" />
                  <xsd:attribute name="ReferenceDose" type="xsd:double" use="optional" />
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Constraints">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Constraint">
                <xsd:complexType>
                  <xsd:attribute name="ComponentName" type="xsd:string" use="required" />
                  <xsd:attribute name="ComponentId" type="xsd:int"/>
                  <xsd:attribute name="ProtocolStructureName" type="xsd:string" use="required" />
                  <xsd:attribute name="ConstraintType" type="ConstraintTypes" use="required" />
                  <xsd:attribute name="ConstraintValue" type="xsd:double" use="required" />
                  <xsd:attribute name="ConstraintUnit" type="UnitScale" use="required" />
                  <xsd:attribute name="ReferenceType" type="ReferenceTypes" use="required" />
                  <xsd:attribute name="MajorViolation" type="xsd:double" use="required" />
                  <xsd:attribute name="MinorViolation" type="xsd:double" use="optional" default="NaN"/>
                  <xsd:attribute name="ReferenceUnit" type="UnitScale" use="required" />
                  <xsd:attribute name="Stop" type="xsd:double" use="optional" default="NaN"/>
                  <xsd:attribute name="Description" type="xsd:string" use="optional"/>
                  <xsd:attribute name="DataTablePath" type="xsd:string" use="optional"/>
                  <xsd:attribute name="ReferenceStructureName" type="xsd:string" use="optional"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xs:element name="SquintConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Site">
          <xs:complexType>
            <xs:attribute name="CurrentSite" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Databases">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Database">
                <xs:complexType>
                  <xs:attribute name="Site" type="xs:string" use="required" />
                  <xs:attribute name="DisplayName" type="xs:string" use="required" />
                  <xs:attribute name="DatabaseName" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BeamGeometryDefinitions">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PathDef">
                <xs:complexType>
                  <xs:attribute name="Site" type="xs:string" use="required" />
                  <xs:attribute name="Path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="StructureCodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PathDef">
                <xs:complexType>
                  <xs:attribute name="Site" type="xs:string" use="required" />
                  <xs:attribute name="Path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ClinicalProtocols">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PathDef">
                <xs:complexType>
                  <xs:attribute name="Site" type="xs:string" use="required" />
                  <xs:attribute name="Path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SquintProtocols">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="PathDef">
                <xs:complexType>
                  <xs:attribute name="Site" type="xs:string" use="required" />
                  <xs:attribute name="Path" type="xs:string" use="required" />
                  <xs:attribute name="ExportPath" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>